APIKEY= #tus claves de firebase
AUTHDOMAIN= #tus claves de firebase
PROJECTID= #tus claves de firebase
STORAGEBUCKET= #tus claves de firebase
MESSAGINGSENDERID= #tus claves de firebase
APPID= #tus claves de firebase
JWT_SECRET= "xssqakjdkjhdkjhd"